{% extends 'control/main.html'%}
{% block content %}

<h3 align='center'>Agregar Venta</h3>

<form class="form-contact" action="" method="POST">
  {% csrf_token %} 
  {% for field in form %}
      <fieldset class="form-group">
      <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="form-control">
          <input type="text" class="form-control"
            name="{{ field.name }}"
            id="id_{{ field.name }}"
            {% if field.name == 'nombre' or field.name == 'telefono' or field.name == 'tipo_servicio' or field.name == 'fecha_entrega' %}
              value="{{ field.value }}" > 
            {% else %}
              value="" > 
            {% endif %}
            <p class="help-text">{{ field.help_text }} </p>
          </div>
    </fieldset>
  {% endfor %}
    <div align='center'>
      <br>
      <br>
  <input type='submit' class="btn" name="Editar Venta">
    </div>

</form>

{% endblock %}