{% extends 'control/main.html'%}
{% block content %}

<h3 align='center'>Fue posible contactar a la persona?<br><br></h3>

<form align='center' class="form-contact" action="" method="POST">
  {% csrf_token %} 
  {% for field in form %}
    {% if field.name == 'nota' %}
    <label for="{{ field.name }}">El cliente</label>
    <select class="browser-default" type="text" id="id_{{ field.name }}" name="{{ field.name }}">
        <option selected value='No contesta, se hace segundo intento de llamada'>No contesta, se hace segundo intento de llamada</option>
        <option value='No contesta el segundo intento y se le envia whatsapp'>No contesta el segundo intento y se le envia whatsapp</option>
        <option value='Contesta y ya no le interesa el producto'>Contesta y ya no le interesa el producto</option>
    </select>
    <br><br>
    {% endif %}
  {% endfor %}
  <input type="submit" class='btn' value="Submit!"/>
</form>

{% endblock %}