{% extends 'control/main.html' %}

{% block content %}
{% for prospecto in prospectos %}
<div class="col s12 m7">
    <div class="card horizontal blue-grey darken-3 white-text">
      <div class="card-image">
        {% if prospecto.concretada %}
        {% else %}
        
        {% endif %}
      </div>
      <div class="card-stacked">
        <div class="card-content">
            {% if prospecto.concretada %}
            <span class="card-title center">{{prospecto.nombre}}</span>
            <a href="tel:{{prospecto.phone}}"><span href="tel:{{prospecto.phone}}" class="card-title center">{{prospecto.phone}}</span></a>
            {% else %}
                <div align="center">
                <i class="small material-icons">add_alert</i>
                <span class="card-title center">{{prospecto.nombre}}</span>
                <a href="tel:{{prospecto.phone}}"><span href="tel:{{prospecto.phone}}" class="card-title center">{{prospecto.phone}}</span></a>
                <span class="editado"><br>Recibido el {{prospecto.fecha}}</span>
                <br><br>
                <h5><strong>{{prospecto.nota}}</strong></h5>
                <br>
                </div>
            {% endif %} 
            
        </div>
        <div class="card-action">
            {% if prospecto.concretada == 0 %}
                <a href="{% url 'editar_prospecto' prospecto.id %}"><i class="small material-icons">edit</i>Llamada Realizada</a>
                <a href="{% url 'agregar_entrega' prospecto.id %}"> <i class="small material-icons">add_shopping_cart</i>Venta</a>
            {% else %}
                <h5 align='center'>VENTA REALIZADA <i class="small material-icons">check</i></h5>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
