{% extends 'control/main.html' %}

{% block content %}

<form class="form" method="post">
	{% csrf_token %}
	{{ form.as_p }}

	<button class="btn" type="submit" id="submit">Login</button>
</form>

{% endblock %}