{% extends 'control/main.html' %}

{% block content %}
{% for venta in ventas %}
    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
        <div class="card teal accent-3">
            <div class="card-content white-text">
            <span class="card-title center">{{venta.nombre}}</span>
            <span class="card-title center">Numero de venta: {{venta.id}}</span>
            
            <p> Fecha de entrega: {{venta.fecha_entrega}}<br>
                Tipo de Ncargo:  {{venta.tipo_servicio}}<br>
                Calle: {{venta.calle}}<br>
                Num: {{venta.numero}}<br>
                Colonia: {{venta.colonia}}<br>
                Ciudad/Delegacion: {{venta.ciudad}}<br>
                Referencia: {{venta.referencia}}<br>
                Tel:  {{venta.telefono}}<br>
                Con atención a:  {{venta.nombre}}<br>
                Unidades a entregar: {{venta.cantidad}}<br>
                </p>
                <p>
                {% if venta.cantidad == '1' %}
                    <p>Monto de cobro: $499</p>
                {% elif venta.cantidad == '2' %}
                    <p>Monto de cobro: $699</p>
                {% else %}
                    <p>Monto de cobro: Desconocido</p>
                {% endif %}
                Comentario: {{venta.nota}}</p>
            <span class="editado"><br>Recibida {{venta.fecha_creada}}</span>
            <br>
            </div>
    </div>
        </div>
    </div>
    <div class="col s12 m2"></div>
{% endfor %}
{% endblock %}
